<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>serv</display-name>
  <servlet>
        <servlet-name>validation</servlet-name>
        <servlet-class>myservpack2.validation</servlet-class>
    </servlet>

    <!-- Mapping the Validation servlet to the URL pattern /loginPage -->
    <servlet-mapping>
        <servlet-name>validation</servlet-name>
        <url-pattern>/loginPage</url-pattern>
    </servlet-mapping>

    <!-- Servlet for the welcome page after successful login -->
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>myservpack2.welcome</servlet-class>
    </servlet>

    <!-- Mapping the WelcomeServlet to the URL pattern /welcome -->
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
  </web-app>
